<div class="track-carousel-wrapper"><div class="track-carousel">
                    <div class="track">
                        <img src="https://lastfm.freetls.fastly.net/i/u/174s/625cfdf0e161cacf60e4f602e9b64711.jpg" alt="Album Art">
                        <p><strong>edamame</strong></p>
                        <p>bbno$ - Eat Ya Veggies</p>
                    </div>
                    <div class="track">
                        <img src="https://lastfm.freetls.fastly.net/i/u/174s/bde234693b2b061a80c1491abf8bbfc1.jpg" alt="Album Art">
                        <p><strong>Diamond City Lights</strong></p>
                        <p>LazuLight - Diamond City Lights</p>
                    </div>
                    <div class="track">
                        <img src="https://lastfm.freetls.fastly.net/i/u/174s/a0d965a858e43a443c3c7713626bdb67.jpg" alt="Album Art">
                        <p><strong>ソングオブザデッド</strong></p>
                        <p>KANA-BOON - ソングオブザデッド</p>
                    </div>
                    <div class="track">
                        <img src="https://lastfm.freetls.fastly.net/i/u/174s/5ef62c27906ed5fd6a7cc573822443fd.jpg" alt="Album Art">
                        <p><strong>Bowsette</strong></p>
                        <p>The Chalkeaters - Bowsette</p>
                    </div>
                    <div class="track">
                        <img src="https://lastfm.freetls.fastly.net/i/u/174s/2a96cbd8b46e442fc41c2b86b821562f.png" alt="Album Art">
                        <p><strong>N****r</strong></p>
                        <p>TrashAssMusic - N****R</p>
                    </div>
                    <div class="track">
                        <img src="https://lastfm.freetls.fastly.net/i/u/174s/91a873d3a88a77b71cbc92acbcf2afd8.jpg" alt="Album Art">
                        <p><strong>BaBABOOEY 2</strong></p>
                        <p>Eric Carmen The Non Binary Sandman - goofy ahh beat Vol.1</p>
                    </div>
                    <div class="track">
                        <img src="https://lastfm.freetls.fastly.net/i/u/174s/bee64a54179b4a0596d5d94a50f8201c.png" alt="Album Art">
                        <p><strong>カルマ</strong></p>
                        <p>BUMP OF CHICKEN - orbital period</p>
                    </div>
                    <div class="track">
                        <img src="https://lastfm.freetls.fastly.net/i/u/174s/d5f53fafbdbc9233b487c8dd3c2eb936.jpg" alt="Album Art">
                        <p><strong>What I'm Made Of...</strong></p>
                        <p>Crush 40 - Driving Through Forever -The Ultimate Crush 40 Collection-</p>
                    </div>
                    <div class="track">
                        <img src="https://lastfm.freetls.fastly.net/i/u/174s/8afd6b99a7bad0684a787ff814252050.jpg" alt="Album Art">
                        <p><strong>My Last Stand</strong></p>
                        <p>Robbie Wyckoff - TEKKEN 8 (Original Soundtrack)</p>
                    </div>
                    <div class="track">
                        <img src="https://lastfm.freetls.fastly.net/i/u/174s/e7364af2a32f45947eed7b844b69bea5.jpg" alt="Album Art">
                        <p><strong>Wellerman</strong></p>
                        <p>The Longest Johns - Between Wind and Water</p>
                    </div>
                    <div class="track">
                        <img src="https://lastfm.freetls.fastly.net/i/u/174s/7f0708e43908dedd56ffc4a9ce707105.jpg" alt="Album Art">
                        <p><strong>High</strong></p>
                        <p>jpb - High</p>
                    </div>
                    <div class="track">
                        <img src="https://lastfm.freetls.fastly.net/i/u/174s/4848baab111ba617eee0f941f1b6f4e8.jpg" alt="Album Art">
                        <p><strong>His World -Theme of Sonic The Hedgehog-</strong></p>
                        <p>Ali Tabatabaee - SONIC THE HEDGEHOG ORIGINAL SOUND TRACK (Vol. 1)</p>
                    </div>
                    <div class="track">
                        <img src="https://lastfm.freetls.fastly.net/i/u/174s/313a563bc528a4ab0cf7260b11a9e6a7.jpg" alt="Album Art">
                        <p><strong>ポラリス</strong></p>
                        <p>BLUE ENCOUNT - Q.E.D</p>
                    </div>
                    <div class="track">
                        <img src="https://lastfm.freetls.fastly.net/i/u/174s/1305b6fbaf874b12e838db1d874dc694.jpg" alt="Album Art">
                        <p><strong>Mega Man</strong></p>
                        <p>Jay Eazy - Mega Man</p>
                    </div>
                    <div class="track">
                        <img src="https://lastfm.freetls.fastly.net/i/u/174s/036f070084793f5d958c11b78ae3ca57.jpg" alt="Album Art">
                        <p><strong>ビビデバ</strong></p>
                        <p>Hoshimachi Suisei - ビビデバ</p>
                    </div>
                    <div class="track">
                        <img src="https://lastfm.freetls.fastly.net/i/u/174s/9f84a1b9b2634750bdd014c2bb646d96.png" alt="Album Art">
                        <p><strong>All the Small Things</strong></p>
                        <p>blink-182 - Enema of the State</p>
                    </div>
                    <div class="track">
                        <img src="https://lastfm.freetls.fastly.net/i/u/174s/e7364af2a32f45947eed7b844b69bea5.jpg" alt="Album Art">
                        <p><strong>Wellerman</strong></p>
                        <p>The Longest Johns - Between Wind and Water</p>
                    </div>
                    <div class="track">
                        <img src="https://lastfm.freetls.fastly.net/i/u/174s/1d185465346f9f13b630e1d5b19e7c7a.jpg" alt="Album Art">
                        <p><strong>end of a life</strong></p>
                        <p>Mori Calliope - end of a life</p>
                    </div>
                    <div class="track">
                        <img src="https://lastfm.freetls.fastly.net/i/u/174s/c41bef482a34d7619b00be02ce5e6f8e.jpg" alt="Album Art">
                        <p><strong>Storyteller</strong></p>
                        <p>Daisuke Ishiwatari - GUILTY GEAR Xrd -SIGN- ORIGINAL SOUND TRACK</p>
                    </div>
                    <div class="track">
                        <img src="https://lastfm.freetls.fastly.net/i/u/174s/fae9c99bbb6ae827b508a97328551912.jpg" alt="Album Art">
                        <p><strong>Mr. Brightside</strong></p>
                        <p>The Killers - Hot Fuss</p>
                    </div>
                    <div class="track">
                        <img src="https://lastfm.freetls.fastly.net/i/u/174s/2e2e9e022c670e9225d765e537ac8e2c.jpg" alt="Album Art">
                        <p><strong>Friday Night</strong></p>
                        <p>SEGA Sound Team - 龍が如く0 誓いの場所 オリジナルサウンドトラック (Side B)</p>
                    </div>
                    <div class="track">
                        <img src="https://lastfm.freetls.fastly.net/i/u/174s/036f070084793f5d958c11b78ae3ca57.jpg" alt="Album Art">
                        <p><strong>ビビデバ</strong></p>
                        <p>Hoshimachi Suisei - ビビデバ</p>
                    </div>
                    <div class="track">
                        <img src="https://lastfm.freetls.fastly.net/i/u/174s/036f070084793f5d958c11b78ae3ca57.jpg" alt="Album Art">
                        <p><strong>ビビデバ</strong></p>
                        <p>Hoshimachi Suisei - ビビデバ</p>
                    </div>
                    <div class="track">
                        <img src="https://lastfm.freetls.fastly.net/i/u/174s/428d07c072bb481f76cea074321ca963.jpg" alt="Album Art">
                        <p><strong>Push Ups</strong></p>
                        <p>Drake - Push Ups</p>
                    </div>
                    <div class="track">
                        <img src="https://lastfm.freetls.fastly.net/i/u/174s/155a5b669792469ac63b82224e28cba9.png" alt="Album Art">
                        <p><strong>Astronomia</strong></p>
                        <p>Vicetone - Astronomia</p>
                    </div>
                    <div class="track">
                        <img src="" alt="Album Art">
                        <p><strong>Footfalls" with Official Lyrics</strong></p>
                        <p>"Endwalker - </p>
                    </div>
                    <div class="track">
                        <img src="" alt="Album Art">
                        <p><strong>KING / Gawr Gura x Calliope Mori (Cover)</strong></p>
                        <p>Gawr Gura Ch. hololive-EN - </p>
                    </div>
                    <div class="track">
                        <img src="" alt="Album Art">
                        <p><strong>Numb</strong></p>
                        <p>Linkin Park - </p>
                    </div>
                    <div class="track">
                        <img src="" alt="Album Art">
                        <p><strong>"Endwalker – Footfalls" with Official Lyrics | Final Fantasy XIV</strong></p>
                        <p>hungrychad - </p>
                    </div></div>
                <button class="carousel-btn left">&lt;</button>
                <button class="carousel-btn right">&gt;</button></div>